.Notifications {
  border: 2px dashed #e1003c;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.Notifications p {
  margin: 0;
  font-weight: bold;
}

.Notifications ul {
  margin: 10px 0 0 0;
  padding-left: 20px;
}

.Notifications li[data-priority="default"] {
  color: blue;
}

.Notifications li[data-priority="urgent"] {
  color: red;
}
